html, body {
  scroll-behavior: smooth;
}

/* Body */
body {
  background: lightblue
    url("https://developer.spotify.com/images/home/tile-1-alt-bg.jpg") no-repeat
    fixed center;
   
}

.navbar-item .header-logo {
  height: 35px;
  margin-bottom: 0 !important;
  max-width: 155px;
  width: 135px;
}

/* Navigation */
#navLinks {
  padding-right: 590px;
  padding-top: 60px;
}

/*Titile  */
#urbCi {
  margin-top: 100px;
  color: #413596;
}

form input {
  min-width: 550px;
  min-height: 40px;
  
}
/* Search Input Size */
form {
  text-align: center;
  margin-left: 100px;
}

form p {
  color: #413596;
  
}

/* Button */
.button {
  margin-top: 30px;
  color: white;
  background-color: #413596;
  border-radius: 5px;
  padding: 10px 30px;
}

.glow-button:hover {
  box-shadow: 0 5px 15px rgba(145, 92, 182, 0.4);
}

.testimonials{
  display: flex;
  justify-content: space-evenly;
  margin: 220px;
}


/* Waves */
.waves {
  position: relative;
  width: 100%;
  height: 15vh;
  margin-bottom: -7px; /*Fix for safari gap*/
  min-height: 100px;
  max-height: 150px;
}
/* Animation */

.parallax > use {
  animation: move-forever 25s cubic-bezier(0.55, 0.5, 0.45, 0.5) infinite;
}
.parallax > use:nth-child(1) {
  animation-delay: -2s;
  animation-duration: 7s;
}
.parallax > use:nth-child(2) {
  animation-delay: -3s;
  animation-duration: 10s;
}
.parallax > use:nth-child(3) {
  animation-delay: -4s;
  animation-duration: 13s;
}
.parallax > use:nth-child(4) {
  animation-delay: -5s;
  animation-duration: 20s;
}
@keyframes move-forever {
  0% {
    transform: translate3d(-90px, 0, 0);
  }
  100% {
    transform: translate3d(85px, 0, 0);
  }
}


/* User Ratings */
.fa {
  font-size: 25px;
}

.checked {
  color: orange;
}


/*Shrinking for mobile*/
@media (max-width: 768px) {
  .waves {
    height: 40px;
    min-height: 40px;
  }
  .content {
    height: 30vh;
  }
  h1 {
    font-size: 24px;
  }

  #userRating{
    margin: 34px;
    width: auto;
   }

  form{
    text-align: center;
    margin-bottom: 104px;
    padding-right: 30px;
  }
}

/* END WAVES */

/* TYPE TEXT BEGINS */
.wrapper {
  height: 7vh;
  /*This part is important for centering*/
  display: flex;
  align-items: center;
  justify-content: center;
}

.typing-demo {
  width: 39ch;
  animation: typing 2s steps(22), blink 0.5s step-end infinite alternate;
  white-space: nowrap;
  overflow: hidden;
  border-right: 3px solid;
  /* font-family: roboto; */
  font-size: 1.25em;
  text-align: center;
}

@keyframes typing {
  from {
    width: 0;
  }
}

@keyframes blink {
  50% {
    border-color: transparent;
  }
}

/* TYPE TEXT ENDS */

/* CSS for search.html  */

/* Color of Text */
#lyricsInput,
h3 {
  color: #413596;
}

/* Search Input Size */
.input {
  max-width: 280px;
}

.autocomplete {
  /*the container must be positioned relative:*/
  position: relative;
  display: inline-block;
}

.autocomplete-items {
  position: absolute;
  border: 1px solid #d4d4d4;
  border-bottom: none;
  border-top: none;
  z-index: 99;
  /*position the autocomplete items to be the same width as the container:*/
  top: 100%;
  left: 0;
  right: 0;
}

.autocomplete-items div {
  padding: 10px;
  cursor: pointer;
  background-color: #fff;
  border-bottom: 1px solid #d4d4d4;
}

.autocomplete-items div:hover {
  /*when hovering an item:*/
  background-color: #e9e9e9;
}

.autocomplete-active {
  /*when navigating through the items using the arrow keys:*/
  background-color: DodgerBlue !important;
  color: #ffffff;
}

.card{
  height: 100%;
  background-color: rgb(205, 162, 211);
  font-size: 2vh;
  padding:2%;
  overflow-y:auto;
  margin:3%;
  
  
  
  
}

.field{
  margin-top: 10vh;
  
  

}


.field2{

margin-top: 2%;
margin-bottom: 8vh;
} 




/* .card{
  height: 50px;
  display: flex;
  margin-top:25px;
  padding-bottom: 100px;
}
#urbanWeb{
  position: fixed;
  top:50px;
  margin-bottom: 20vh;
  border:30px;
}
#miriamWeb{
  margin-top:40vh;
  position: fixed;
  border:30px;
  bottom:40px;
/* User Ratings */
.fa {
  font-size: 25px;
}

.checked {
  color: orange;
}

/*Shrinking for mobile*/
/* @media (max-width: 768px) {


} */
